<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:out_of_stock) %>
<% end %>

<div class="well">
  <%= render partial: 'spree/admin/shared/out_of_stock_search' %>
</div>

<table class="table table-bordered admin-report" data-hook="sales_total">
  <thead>
    <tr>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:sku) %></th>
      <th> Last Out of Stock Date in Range</th>

    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>        
        <td><%= product.stock_items.where(:count_on_hand =>  0).last.updated_at.strftime('%Y/%m/%d') %></td>        
      </tr>
    <% end %>
  </tbody>
</table>